<div class="page-header flex-wrap flex-md-nowrap">
  <h1 class="h2">Recipes</h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to "Add New Recipe", new_admin_recipe_path, class: 'btn btn-primary btn-sm' %>
  </div>
</div>

<%= search_form_for [:admin, @q], class: 'd-flex mb-3' do |f| %>
  <%= f.search_field :name_cont, placeholder: 'Search for recipe', value: params.dig(:q, :name_cont), class: 'form-control mr-3' %>
  <div class="selectgroup mr-3">
  <%= f.collection_radio_buttons :recipe_budget, recipe_search_budget_options, :last, :first, { include_hidden: false } do |b|
    b.label(class: 'selectgroup-item') do
      b.radio_button(class: 'selectgroup-input') + tag.span(b.text.humanize, class: 'selectgroup-button')
    end
  end %>
  </div>
  <%= f.submit 'Search', class: 'btn btn-primary', data: { disable_with: 'Searching...' } %>
<% end %>

<div class="card mb-3">
  <div class="table-responsive">
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th><%= sort_link(@q, :name) %></th>
          <th><%= sort_link(@q, :cook_time) %></th>
          <th><%= sort_link(@q, :prep_time) %></th>
          <th><%= sort_link(@q, :total_time) %></th>
          <th><%= sort_link(@q, :difficulty) %></th>
          <th><%= sort_link(@q, :budget) %></th>
          <th><%= sort_link(@q, :status) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @recipes.each do |recipe| %>
          <%= content_tag :tr, id: dom_id(recipe), class: dom_class(recipe) do %>
            <td><%= recipe.name %></td>
            <td><%= recipe.cook_time %></td>
            <td><%= recipe.prep_time %></td>
            <td><%= recipe.total_time %></td>
            <td><%= enum_label(recipe.difficulty) %></td>
            <td><%= enum_label(recipe.budget) %></td>
            <td><%= status_label(recipe.status) %></td>
            <td><%= link_to 'Show', admin_recipe_path(recipe) %></td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%== pagy_bootstrap_nav(@pagy) %>
