<div class="page-header flex-wrap flex-md-nowrap">
  <h1 class="h2">Show recipe</h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to admin_recipes_path, class: 'btn btn-light' do %>
      <i class="fa fa-angle-left"></i>
      All Recipes
    <% end %>
    <%= link_to "Show on app", recipe_path(@recipe), class: 'btn btn-info', target: '_blank' %>
    <%= link_to "Edit", edit_admin_recipe_path(@recipe), class: 'btn btn-primary' %>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Name:</dt>
      <dd class="col-sm-9"><%= @recipe.name %></dd>
      <dt class="col-sm-3">Cook time:</dt>
      <dd class="col-sm-9"><%= @recipe.cook_time %></dd>
      <dt class="col-sm-3">Difficulty:</dt>
      <dd class="col-sm-9"><%= difficulty_label(@recipe.difficulty) %></dd>
      <dt class="col-sm-3">People Quantity:</dt>
      <dd class="col-sm-9"><%= @recipe.people_quantity %></dd>
      <dt class="col-sm-3">Prep time:</dt>
      <dd class="col-sm-9"><%= @recipe.prep_time %></dd>
      <dt class="col-sm-3">Status:</dt>
      <dd class="col-sm-9"><%= status_label(@recipe.status) %></dd>
      <dt class="col-sm-3">Tags:</dt>
      <dd class="col-sm-9">
        <% @recipe.tags.pluck(:name).each do |tag| %>
            <button type="button" class="btn btn-outline-info btn-sm"><%= tag.capitalize %></button>
        <% end %>
      </dd>

      <dt class="col-sm-3">Ingredients:</dt>
      <dd class="col-sm-9">
        <% @recipe.ingredients.pluck(:name).each do |ingredient| %>
            <button type="button" class="btn btn-outline-primary btn-sm"><%= ingredient.capitalize %></button>
        <% end %>
      </dd>
    </dl>

    <div class="text-center">
      <% if @recipe.image_url.present? %>
        <% image_tag(@recipe.image_url, class: 'card-img-top') %>
      <% end %>
    </div>
  </div>
</div>
