

<div class="card recipe">
  <div id="images" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% if @recipe.image_url.present? %>
       <%= image_tag(@recipe.image_url, class: 'card-img-top') %>
      <% else %>
        <div class="carousel-item active">
          <%= image_pack_tag('media/images/placeholder.png', class: 'd-block w-100', alt: @recipe.name) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card-body">
<dl class="row">
      <dt class="col-sm-3">Name:</dt>
      <dd class="col-sm-9"><%= @recipe.name %></dd>
      <dt class="col-sm-3">Cook time:</dt>
      <dd class="col-sm-9"><%= @recipe.cook_time %></dd>
      <dt class="col-sm-3">Difficulty:</dt>
      <dd class="col-sm-9"><%= enum_label(@recipe.difficulty) %></dd>
      <dt class="col-sm-3">People Quantity:</dt>
      <dd class="col-sm-9"><%= @recipe.people_quantity %></dd>
      <dt class="col-sm-3">Prep time:</dt>
      <dd class="col-sm-9"><%= @recipe.prep_time %></dd>
      <dt class="col-sm-3">Total time:</dt>
      <dd class="col-sm-9"><%= @recipe.total_time %></dd>
      <dt class="col-sm-3">Tags:</dt>
      <dd class="col-sm-9">
        <% @recipe.tags.pluck(:name).each do |tag| %>
            <button type="button" class="btn btn-outline-info btn-sm"><%= tag.capitalize %></button>
        <% end %>
      </dd>

      <dt class="col-sm-3">Ingredients:</dt>
      <dd class="col-sm-9">
        <% @recipe.ingredients.pluck(:name).each do |ingredient| %>
            <button type="button" class="btn btn-outline-primary btn-sm"><%= ingredient.capitalize %></button>
        <% end %>
      </dd>

      <dt class="col-sm-3">Ingredients:</dt>
      <ul class="list-group">
        <% @recipe.ingredients.pluck(:name).each do |name| %>
          <li class="list-group-item"><%=name%></li>
        <% end %>
    </ul>
    </dl>

  </div>
</div>


